/* 이미지 css 파일을 따로 만드는 방법도 있음 직관적으로 가능 */
:root{
    --header-background:rgba(0,0,0,0.8);
    --button-color:#06c;
    --new-color:#f56300;
    --back-gray:#f5f5f7;
    --font-black:#1d1d1f;
}

header{
    height: 44px;
    background-color: var(--header-background);
    overflow: hidden;


}

/* .logo a{
    width: 14px;
    height: 44px;
} */


header ul{
    
    max-width: 1024px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;

   
}

.mobile-hide li{
    padding: 0 30px;
}

.header-nav *{
    margin-left: 3px;
}

.logo{
    background-image: url(../apple-img/globalnav_apple_image__b5er5ngrzxqq_large.svg);
    background-size: 14px 44px;
    background-repeat: no-repeat;
    background-position: center center;
    width: 14px;
    height: 44px;
}

.hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    clip: rect(1px,1px,1px,1px);
    overflow: hidden;
}

.store{
    background-image: url(../apple-img/globalnav_links_store_image__c7jy08initqq_large.svg);
    background-size: 41px 43px;
    background-repeat: no-repeat;
    background-position: center center;
    width: 41px;
    height: 43px;

}

.mac{
    background-image: url(../apple-img/globalnav_links_mac_image__dazlko3t9a6a_large.svg);
    background-size: 32px 43px;
    background-repeat: no-repeat;
    background-position: center center;
    width: 32px;
    height: 43px;
}

.ipad{
    background-image: url(../apple-img/globalnav_links_ipad_image__fw9qyj9lloi2_large.svg);
    /* background-size: 24px 44px; */
    background-repeat: no-repeat;
    background-position: center center;
    width: 24px;
    height: 43px;

}

.iphone{
    background-image: url(../apple-img/globalnav_links_iphone_image__ko7x4isga4ia_large.svg);
    background-size: 51px 43px;
    background-repeat: no-repeat;
    background-position: center center;
    width: 51px;
    height: 43px;
}

.watch{
    background-image: url(../apple-img/globalnav_links_watch_image__gkoblojrlsqe_large.svg);
    background-size: 48px 43px;
    background-repeat: no-repeat;
    background-position: center center;
    width: 48px;
    height: 43px;

}

.airpods{
    background-image: url(../apple-img/globalnav_links_airpods_image__f969s84ivmaa_large.svg);
    background-size: 43px 43px;
    background-repeat: no-repeat;
    background-position: center center;
    width: 43px;
    height: 44px;


}

.tv-home{
    background-image: url(../apple-img/globalnav_links_tvhome_image__zb2ewyxbi6ae_large.svg);
    background-size: 58px 43px;
    background-repeat: no-repeat;
    background-position: center center;
    width: 58px;
    height: 43px;
}

.only-apple{
    background-image: url(../apple-img/globalnav_links_onlyonapple_image__c4t8k97tougm_large.svg);
    background-size: 113px 43px;
    background-repeat: no-repeat;
    background-position: center center;
    width: 80px;
    height: 43px;
}

.acc{
    background-image: url(../apple-img/globalnav_links_accessories_image__edj0wqmfwxyu_large.svg);
    background-size: 55px 43px;
    background-repeat: no-repeat;
    background-position: center center;
    width: 55px;
    height: 43px;
}

.support{
    background-image: url(../apple-img/globalnav_links_support_image__bw9kctll7u3m_large.svg);
    background-size: 54px 43px;
    background-repeat: no-repeat;
    background-position: center center;
    width: 54px;
    height: 43px;
}

.question{
    background-image: url(../apple-img/globalnav_search_image__cbllq1gkias2_large.svg);
    background-size: 15px 88px ;
    background-repeat: no-repeat;
    background-position: center center;
    width: 15px;
    height: 88px;
}

.bag{
    background-image: url(../apple-img/globalnav_bag_image__yzte50i47ciu_large.svg);
    background-size: 29px 44px;
    background-repeat: no-repeat;
    background-position: center center;
    width: 29px;
    height: 44px;

}



