/* 이미지 css 파일을 따로 만드는 방법도 있음 직관적으로 가능 */
:root{
    --header-background:rgba(0,0,0,0.8);
    --button-color:#06c;
    --new-color:#f56300;
    --back-gray:#f5f5f7;
    --font-black:#1d1d1f;
}

html{
    font-family: "SF Pro KR","SF Pro Text","SF Pro Icons","Apple Gothic","HY Gulim","MalgunGothic","HY Dotum","Lexi Gulim","Helvetica Neue","Helvetica","Arial",sans-serif;
}


header{
    /* height: 44px; */
    background-color: var(--header-background);
}


header ul{
    overflow: hidden;
    /* max-width: 1024px; */
    max-width: 980px;
    height: 44px;
    /* width: auto; */
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.header-nav{
    margin: 0 15px;
}

.header-nav figure{
    opacity: 0.8;
    transition: 0.3s;
    padding: 0 8px;
    /* padding 주면 선택할 수 있는 영역 넓힐 수 있음!! 옆에 여백에 커서 둬도 선택되게 */
}

.header-nav figure:hover{
    opacity: 1;
}

.logo{
    background-image: url(../apple-img/globalnav_apple_image__b5er5ngrzxqq_large.svg);
    background-size: 14px 44px;
    background-repeat: no-repeat;
    background-position: center center;
    width: 14px;
    height: 44px;
}

.hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    clip: rect(1px,1px,1px,1px);
    overflow: hidden;
}

.store{
    background-image: url(../apple-img/globalnav_links_store_image__c7jy08initqq_large.svg);
    background-size: 41px 43px;
    background-repeat: no-repeat;
    background-position: center center;
    width: 41px;
    height: 43px;

}

.mac{
    background-image: url(../apple-img/globalnav_links_mac_image__dazlko3t9a6a_large.svg);
    background-size: 32px 43px;
    background-repeat: no-repeat;
    background-position: center center;
    width: 32px;
    height: 43px;
}

.ipad-nav{
    background-image: url(../apple-img/globalnav_links_ipad_image__fw9qyj9lloi2_large.svg);
    /* background-size: 24px 44px; */
    background-repeat: no-repeat;
    background-position: center center;
    width: 24px;
    height: 43px;

}

.iphone{
    background-image: url(../apple-img/globalnav_links_iphone_image__ko7x4isga4ia_large.svg);
    background-size: 51px 43px;
    background-repeat: no-repeat;
    background-position: center center;
    width: 51px;
    height: 43px;
}

.watch{
    background-image: url(../apple-img/globalnav_links_watch_image__gkoblojrlsqe_large.svg);
    background-size: 48px 43px;
    background-repeat: no-repeat;
    background-position: center center;
    width: 48px;
    height: 43px;

}

.airpods{
    background-image: url(../apple-img/globalnav_links_airpods_image__f969s84ivmaa_large.svg);
    background-size: 43px 43px;
    background-repeat: no-repeat;
    background-position: center center;
    width: 43px;
    height: 44px;


}

.tv-home{
    background-image: url(../apple-img/globalnav_links_tvhome_image__zb2ewyxbi6ae_large.svg);
    background-size: 58px 43px;
    background-repeat: no-repeat;
    background-position: center center;
    width: 58px;
    height: 43px;
}

.only-apple{
    background-image: url(../apple-img/globalnav_links_onlyonapple_image__c4t8k97tougm_large.svg);
    background-size: 113px 43px;
    background-repeat: no-repeat;
    background-position: center center;
    width: 80px;
    height: 43px;
}

.acc{
    background-image: url(../apple-img/globalnav_links_accessories_image__edj0wqmfwxyu_large.svg);
    background-size: 55px 43px;
    background-repeat: no-repeat;
    background-position: center center;
    width: 55px;
    height: 43px;
}

.support{
    background-image: url(../apple-img/globalnav_links_support_image__bw9kctll7u3m_large.svg);
    background-size: 54px 43px;
    background-repeat: no-repeat;
    background-position: center center;
    width: 54px;
    height: 43px;
}

.question{
    background-image: url(../apple-img/globalnav_search_image__cbllq1gkias2_large.svg);
    background-size: 15px 88px ;
    background-repeat: no-repeat;
    background-position: center 0;
    /* x값 y값, y는 위아래라서 고정 */
    width: 15px;
    height: 44px;
    /* 이거 삐져나온거 어떻게 하나요 */
    /* height 44로 바꾸고 포지션을 줘서 위에 돋보기만 나오게함
     만약 패딩을 준다면 패딩만큼 다르게 줘야해서 (패딩8이라서)
     8px이렇게 주거나 걍 center로 해주면 됨 */
}

.bag{
    background-image: url(../apple-img/globalnav_bag_image__yzte50i47ciu_large.svg);
    background-size: 29px 44px;
    background-repeat: no-repeat;
    background-position: center center;
    width: 29px;
    height: 44px;

}

.pc-hide{
    display: none;
    width: 29px;
    height: 29px;
    margin-top: 13px;

}

.pc-hide a::after{
    content: '';
    /* position: absolute; */
    display: block;
    height: 1px;
    width: 17px;
    background-color: white;
    /* opacity: 0.8; */
    margin: 0 auto;
    margin-top: 5px;
    transition: 0.5s;
}

.pc-hide a::before{
    content: '';
    display: block;
    height: 1px;
    width: 17px;
    background-color: white;
    /* opacity: 0.8; */
    margin: 0 auto;
    margin-top: 5px;
    /* transition: 0.5s; */
}

/* .pc-hide a:hover::after{
    opacity: 1;
}

.pc-hide a:hover::before{
    opacity: 1;
} */

.pc-hide a{
    opacity: 0.8;
    transition: 0.3s;
}

.pc-hide a:hover{
    opacity: 1;
}

/* 이거 맞나요ㅜ hover */

@media screen and (max-width:833px){
    .pc-hide{
        display: block;
    }
    .mobile-hide{
        display: none;
    }
    header,header ul{
        height: 48px;
    }
}



.nav-padpro{
    background-image: url(../apple-img/ipadpro_dark__175htbn6m76u_large.svg);
    background-repeat: no-repeat;
    background-size: 41px 54px;
    width: 41px;
    height: 54px;
}

.nav-padair{
    background-image: url(../apple-img/ipadair_dark__gi1t1iqta1yu_large.svg);
    background-repeat: no-repeat;
    background-size: 30px 54px;
    width: 30px;
    height: 54px;

}


.nav-ipad{
    background-image: url(../apple-img/ipad_dark__fe8ocv9hktim_large.svg);
    background-repeat: no-repeat;
    background-size: 30px 54px;
    width: 30px;
    height: 54px;
}

.nav-mini{
    background-image: url(../apple-img/ipadmini_dark__cdfcygd422uu_large.svg);
    background-repeat: no-repeat;
    background-size: 23px 54px;
    width: 23px;
    height: 54px;
}

.nav-compare{
    background-image: url(../apple-img/ipad_compare_dark__cxllw9w1tuy6_large.svg);
    background-repeat: no-repeat;
    background-size: 45px 54px;
    width: 45px;
    height: 54px;

}

.nav-pencil{
    background-image: url(../apple-img/apple_pencil_dark__c42qcvi9e802_large.svg);
    background-repeat: no-repeat;
    background-size:3px 54px ;
    width: 3px;
    height: 54px;
}

.nav-keyboard{
    background-image: url(../apple-img/keyboard_dark__dtedyad0xnqu_large.svg) ;
    background-repeat: no-repeat;
    background-size: 63px 54px;
    width: 63px;
    height: 54px;
}

.nav-airpods{
    background-image: url(../apple-img/airpods_dark__ccoezo86z37m_large.svg);
    background-repeat: no-repeat;
    background-size: 27px 54px;
    width: 27px;
    height: 54px;
}

.nav-acc{
    background-image: url(../apple-img/ipad_acc_dark__bo0a4ftei9au_large.svg) ;
    background-repeat: no-repeat;
    background-size: 31px 54px;
    width: 31px;
    height: 54px;
}

.nav-ipados{
    background-image: url(../apple-img/ipados_dark__emr7k8pfle4i_large.svg) ;
    background-repeat: no-repeat;
    background-size: 32px 54px ;
    width: 32px ;
    height: 54px;
}

.nav-ipadshopping{
    background-image: url(../apple-img/shop_ipad_dark__ekfl60g78g4m_large.svg) ;
    background-repeat: no-repeat;
    background-size: 66px 54px;
    width: 66px;
    height: 54px;
}

.chapter-nav{
    /* display: flex; */
    /* justify-content: center; */
    /* text-align: center; */
    /* 여기에 플렉스 안줘도 돼 막 쓰지 말기 오히려 헷갈려짐 */
    padding-top: 8px;
    padding-bottom: 8px;
    height: 100px;
    overflow: hidden;
    background-color: black;

}


.chapter-nav ul{
    display: flex;
    justify-content: space-between;
    /* center 말고 between주면 줄여도 앞에 딱 고정할수있어 */
    padding: 0 34px;
    margin: 0 auto;
    width: 900px;
    /* 줄였을때 고정 어떻게 하나요 */
}

.chapter-nav li{
    display: flex;
    /* align-items: center; */
    padding: 0 15px;
    position: relative;
    flex-shrink: 0;
    /* 글씨가 밀리는거 방지 li가 플렉스라서 화면이 줄면 박스가 줄어든다 그걸 방지하려고 슈링크*/

}

.chapter-nav li:hover span{ 
    color: var(--button-color);
}

.chapter-nav li a{
    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: center; */
    display: block;
    text-align: center;
    
   
}

/* flex 남발하지말고 가운데 정렬을 위한거면 margin 0 auto */

.chapter-nav figure{
    margin-bottom: 7px;
    margin: 0 auto;

}

.chapter-nav span{
    color: #f5f5f7;
    font-size: 12px;
    /* 글씨 크기 다른 이유 뭘까요? */
    line-height: 1.33337;
    font-weight: 400;
    letter-spacing: -0.03em;
    font-family: "SF Pro KR","SF Pro Text","SF Pro Icons","Apple Gothic","HY Gulim","MalgunGothic","HY Dotum","Lexi Gulim","Helvetica Neue","Helvetica","Arial",sans-serif;
    transition: 0.3s;
}

.chapter-nav .new{
    display: block;
    position: absolute;
    bottom: -8px;
    /* right: 27px; */
    left: 50%;
    transform: translateX(-50%);
    /* 이렇게 위치 조정 맞나요ㅜ */
    font-size: 10px;
    color: var(--new-color);
}

/* 메인에 회색해서 마진바텀으로 주고 섹션 색 흰색 */
/* figure감싼 div를 줄여서 text위로 붙게하고 오버플로우 안줘서 그냥 넘치게 둠 */

body{
    background-color: var(--back-gray);
}

#section-ipadair{
    background-color: black;
    padding-top: 68px;
    padding-bottom: 66px;
    position: relative;
    overflow: hidden;
    margin-bottom: 13px;
    /* 회색 보이게 해주기 */
}

.row{
    width: 980px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    /* alingitems center안해주면 위에 여백 선택 안됨 */
}


.a-link{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}

.air-text-contents{
    flex-basis: 25%;
    max-width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    align-items: center;
    /* width: 245px;
    height: 260px; */
    /* text-align: center; */
    /* flex해야할지,, ??? */
    z-index: 2;


}

.price{
    font-size: 17PX;
    color: black;
    margin-top: 17px;

}


.title{
    font-size: 56px;
    color: black;
    font-weight: 600;
}

.ment{
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    line-height:1.3;
    margin-top: 8px;
    color: black;
    letter-spacing: -0.04em;
}

.air-text-contents .white{
    color: #ffffff;
}

.buy{
    cursor: pointer;
    display: block;
    /* display: inline-block; */
    font-size: 17px;
    line-height: 1.17648;
    font-weight: 600;
    width: 100px;
    height: 40px;
    border-radius: 20px;
    border: none;
    background: #0071e3;
    color: #fff;
    margin: 12px 0;
}


.text-air{
    background-image: url(../apple-img/air_script__coyet2g7gkia_large.png);
    background-repeat: no-repeat;
    background-size: 88px 46px;
    width: 88px;
    height: 46px;
    display: inline-block;
    margin-left: -10px;
    /* 글씨와 간격 없애려면? */
}

.air-img-contents{ 
    flex-basis: 75%;
    max-width: 75%;
}

.air-img{
    background-image: url(../apple-img/ipad_air__d794tkovmk02_large.jpg);
    background-repeat: no-repeat;
    background-size: 680px 695px;
    width: 680px;
    height: 695px;

}


.air-text-contents .new{
    font-size: 10px;
    color: var(--new-color);
    padding-bottom: 10px;
}

.more-a{
    font-size: 17px;
    font-weight: 500;
    color: #2997ff;
    /* position: relative; */
    /* left: -5px; */
    /* 미묘하게 가운데 안돼서 이렇게 해도 되나요 노노 */
}

.more-a::after{
    content: '';
    display: inline-block;
    width: 6px;
    height: 6px;
    border-color: #2997ff;
    border-style: solid;
    border-width: 0px;
    border-top-width: 1.9px;
    border-right-width: 1.9px;
    transform: rotate(45deg);
    /* margin-left: 8px; */
    position: relative;
    /* right: -12px; */
    top: -2px;
    /* 미묘하게 가운데 정렬 안돼요ㅠㅠ
    position relative로 하면 a안에 들어감 그다음 탑으로 위치조정 */
    
}

@media screen and (max-width:1068px) {
    .section-ipadair{
        padding-top: 45px;
        padding-bottom: 45px;
    }
    .section-ipadair-wrapper{
        width: 692px;
        /* width해줘야해 */
        margin-left: auto;
        margin-right: auto;
    }
    .air-text-contents{
       flex-basis: 30%;
       max-width: 30%;
    }
    .air-img-contents{
        flex-basis: 70%;
        max-width: 70%;
    }
    .air-img{
        background-image: url(../apple-img/ipad_air__d794tkovmk02_medium.jpg);
        width: 504px;
        height: 515px;
        background-size: 504px 515px;
        background-repeat: no-repeat;
       
    
    }
    .text-air{
        background-image: url(../apple-img/air_script__coyet2g7gkia_medium.png);
        width: 74px;
        height: 40px;
        background-size: 74px 40px;
        background-repeat: no-repeat;
    
    }
}

@media screen and (max-width:734px) {
    .section-ipadair{
        padding-top: 36px;
        padding-bottom: 36px;
    }
    .air-img-contents{
        flex-basis: 100%;
        max-width: 100%;
    }
    .air-img{
        background-image: url(../apple-img/ipad_air__d794tkovmk02_small.jpg);
        width: 310px;
        height: 317px;
        background-size: 310px 317px;
        background-repeat: no-repeat;
        margin: 0 auto;
        margin-top: 50px;
        /* 아이폰과 박스 모양 다름  ㅠㅠ 같이 해줄라면??*/
    }
    .text-air{
        background-image: url(../apple-img/air_script__coyet2g7gkia_small.png);
        width: 60px;
        height: 32px;
        background-size: 60px 32px;
        background-repeat: no-repeat;
    }
    .air-text-contents{
        margin-top: 0;
        flex-basis: 100%;
        max-width: 100%;
        /* 얘네도 백 줘서 크기 늘려줌 */
    }
    .air-text-contents h2{
        font-size: 40px;
    }
    .section-ipadair-wrapper{
        width: 320px;
        /* 320줘서 줄어들지않게 고정 */
        justify-content: center;
        flex-direction: column;
        /* 줄였을때 밑으로  가게 */
    }
}

#section-ipadpro{
    margin-bottom: 13px;
    background-color: white;
    position: relative;
    overflow: hidden;
    /* hidden사진 안삐져나오게 */
    /* a태그에 absolute줘서 부모인 여기에 relative */
    padding-top: 78px;
    padding-bottom: 71px;
}


.pro-text-contents{
    flex-basis: 26%;
    max-width: 26%;
    margin-top: -125px;
    /* overflow: hidden; */
    line-height: 1.3;
    letter-spacing: -0.03em;
    /* text-align: center; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* 위에 이상한 여백 생겨요ㅜㅜ 마진탑ㅜㅜ */
    z-index: 2;
    flex-shrink: 0;
}




.pro-text-contents h2{
    font-size: 56px;
    font-weight: 600;
    color: black;
    
}


.pro-text-contents .price{
    color: black;
}

.section-ipadpro .more-a,.more-a::after{
    color: #06c;
    border-color: #06c;
}

.pro-img-contents{
    flex-basis: 50%;
    max-width: 50%;

}

.pro-img{
    background-image: url(../apple-img/ipad_pro_hero__bh3eq6sqfjw2_large.jpg);
    width: 1335px;
    height: 598px;
    background-size: 1335px 598px;
    background-repeat: no-repeat;
    margin-left: 30%;
}

@media screen and (max-width:1068px) {
    .pro-img-contents{
        max-width: 33%;
        flex-basis: 33%;
    }
    .pro-img{
        background-image: url(../apple-img/ipad_pro_hero__bh3eq6sqfjw2_medium.jpg);
        width: 831px;
        height: 430px;
        background-size: 831px 430px;
        background-repeat: no-repeat;
    }
    .section-ipadpro-wrapper{
        width: 692px;
        margin: 0 auto;
    }
    .pro-text-contents{
        /* display: flex;
        align-items: center;
        justify-content: center; */
        max-width: 33%;
        flex-basis: 33%;
    }
}

@media screen and (max-width:734px) {
    .section-ipadpro-wrapper{
        width: 320px;
        margin: 0 auto;
        /* width: 87.5%; */
    }
    .pro-text-contents{
        order: -1;
        margin: 0 auto;
        z-index: 2;
        margin-top: 0;
        max-width: 100%;
        flex-basis: 100%;
        /* 왜 70했는지? 100으로하면 됨 */
        flex-shrink: 0;
        /* 완전 모르겠음,,,,ㅜㅜ */
    }
    .pro-text-contents h2{
        font-size: 40px;
       
    }
    .pro-img-contents{
        flex-basis: 100%;
        max-width: 100%;
    }
    .pro-img{
        background-image: url(../apple-img/ipad_pro_hero__bh3eq6sqfjw2_small.jpg);
        width: 540px;
        height: 268px;
        background-size: 540px 268px;
        background-repeat: no-repeat;
        margin-left: 0;
    }
}
/* 위에 반응형 마지막꺼 전체적으로 부탁드려요,, */


/* 언더에 스크롤바 안생기게 못하나요
완전 줄였을때 위아래 다르고 이상해요!ㅜㅜ반응형😂😊😊🤣😂 */

#section-ipad{
    background-color: white;
    position: relative;
    overflow: hidden;
    margin-bottom: 13px;
    
}


.pad-text-contents{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 1.3;
    letter-spacing: -0.03em;
    flex-basis: 33%;
    max-width: 33%;
    z-index: 2;
}

.ipad-img-contents{
    flex-basis: 66%;
    max-width: 66%;

}

.ipad-img{
    background-image: url(../apple-img/ipad_10_2__7yowwyyrbmaa_large.jpg);
    background-size: 856px 815px;
    width: 856px;
    height: 813px;
    position: relative;
    left: 50%;
    margin-left: -350px;
    margin-top: -98px;
}

/* 💕😂😁😉여기에 패드 반응형해야함!!🐱‍🚀✔🎂😎🤳🐱‍👤🤳🍠🍠🥩🧔👩‍🦳 */

#section-ipad-mini{
    background-color: white;
    position: relative;
    overflow: hidden;
    padding-top: 120px;
    margin-bottom: 13px;
}

.mini-img-contents{
    background-image: url(../apple-img/ipad_mini__dn6g8b0hw8om_large.jpg);
    width: 503px;
    height: 579px;
    background-size: 503px 579px;
    background-repeat: no-repeat;
    flex-basis: 50%;
    max-width: 50%;
}

.mini-text-contents{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis: 25%;
    max-width: 25%;
    z-index: 2;
}

.text-mini{
    background-image: url(../apple-img/mini_script__bjahejz6luqa_large.png);
    width: 103px;
    height: 41px;
    background-size: 103px 41px;
    background-repeat: no-repeat;
    display: inline-block;

}

/* 😊😊😊😊😊❤❤❤❤❤미니 반응형 해조! */

#ipad-grid{
    box-sizing: border-box;
    max-width: 1440px;
    width: auto;
    padding: 0 30px;
    margin: 30px auto;
}
/* 화면이 달라요ㅜㅜ 큰 화면에서 마진이 너무 많아요!.🎗🎁🎋🎞🧵🎑🎟 */
.tip{
    /* width: 1440px; */
    background-color: white;
    width: 100%;
    padding-bottom: 105px;
    padding-top: 115px;
}
/* 섹션에 크기 맥스1440 섹션엔 컬러 없음 패딩 tip에 화이트, width100% 패딩투명 섹션에 주고 */
.grid-wrapper{
    text-align: center;
    line-height: 1.3;
    font-size: 14px;
    margin-top: 68px;
    margin-bottom: 73px;
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
    /* margin: 0 auto; */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(9, auto);
    grid-row-gap: 38px;
    grid-column-gap: 34px;
    grid-template-areas: 
    "recommand-pro recommand-air recommand-pad recommand-mini"
    "inch-pro inch-air inch-pad inch-mini"
    "chip-pro chip-air chip-pad chip-mini"
    "back-pro back-air back-pad back-mini"
    "front-pro front-air front-pad front-mini"
    "thun-pro thun-air thun-pad thun-mini"
    "cell-pro cell-air cell-pad cell-mini"
    "pen-pro pen-air pen-pad pen-mini"
    "magic-pro magic-air magic-pad magic-mini";
}

.recommand-ipads.ipad-pro{
    grid-area: recommand-pro;
}

.recommand-ipads.ipad-air{
    grid-area: recommand-air;
}

.recommand-ipads.ipad{
    grid-area: recommand-pad;
}

.recommand-ipads.ipad-mini{
    grid-area: recommand-mini;
}

.inch.ipad-pro{
    grid-area: inch-pro;
}

.inch.ipad-air{
    grid-area: inch-air;
}

.inch.ipad{
    grid-area: inch-pad;
}

.inch.ipad-mini{
    grid-area: inch-mini;
}

.chip.ipad-pro{
    grid-area: chip-pro;
}

.chip.ipad-air{
    grid-area: chip-air;
}

.chip.ipad{
    grid-area: chip-pad;
}

.chip.ipad-mini{
    grid-area: chip-mini;
}

.back-camera.ipad-pro{
    grid-area: back-pro;
}

.back-camera.ipad-air{
    grid-area: back-air;
}

.back-camera.ipad{
    grid-area: back-pad;
}

.back-camera.ipad-mini{
    grid-area: back-mini;
}

.front-camera.ipad-pro{
    grid-area: front-pro;
}

.front-camera.ipad-air{
    grid-area: front-air;
}

.front-camera.ipad{
    grid-area: front-pad;
}

.front-camera.ipad-mini{
    grid-area: front-mini;
}

.thunder.ipad-pro{
    grid-area: thun-pro;
}

.thunder.ipad-air{
    grid-area: thun-air;
}

.thunder.ipad{
    grid-area: thun-pad;
}

.thunder.ipad-mini{
    grid-area: thun-mini;
}

.cellular.ipad-pro{
    grid-area: cell-pro;
}

.cellular.ipad-air{
    grid-area: cell-air;
}

.cellular.ipad{
    grid-area: cell-pad;
}

.cellular.ipad-mini{
    grid-area: cell-mini;
}

.apple-pencil.ipad-pro{
    grid-area: pen-pro;
}

.apple-pencil.ipad-air{
    grid-area: pen-air;
}

.apple-pencil.ipad{
    grid-area: pen-pad;
}

.apple-pencil.ipad-mini{
    grid-area: pen-mini;
}

.magic.ipad-pro{
    grid-area: magic-pro;
}

.magic.ipad-air{
    grid-area: magic-air;
}

.magic.ipad{
    grid-area: magic-pad;
}

.magic.ipad-mini{
    grid-area: magic-mini;
}

#ipad-grid h2{
    margin: 0 auto;
    background-color: white;
    font-size: 56px;
    font-weight: 600;
    text-align: center;
    max-width: 1440px;
}

footer{
    background-color: var(--back-gray);
    padding-top: 30px;
    /* 패딩은 색 들어감 마진 안들어감 */
}

.recommand-ipad-pro-img{
    background-image: url(../apple-img/compare_ipad_pro__erf9x8mw04sy_large.png);
    width: 189px;
    height: 214px;
    background-size: 189px 214px;
    background-repeat: no-repeat;
}

.recommand-ipad-air-img{
    background-image: url(../apple-img/compare_ipad_air__bxjv33pk6nte_large.png);
    width: 136px;
    height: 188px;
    background-size: 136px 188px;
    background-repeat: no-repeat;
}

.recommand-ipad-img{
    background-image: url(../apple-img/compare_ipad_10_2__fwgwy7jydtea_large.png);
    width: 133px;
    height: 191px;
    background-size: 133px 191px;
    background-repeat: no-repeat;

}

.recommand-ipad-mini-img{
    background-image: url(../apple-img/compare_ipad_mini__czcsk9ukpeie_large.png);
    width: 103px;
    height: 149px;
    background-size: 103px 149px;
    background-repeat: no-repeat;
}

.recommand-color-black-and-gray{
    background-image: url(../apple-img/compare_ipad_pro_swatches__bxn5nqwduk9y_large.png);
    width: 32px;
    height: 14px;
    background-size: 32px 14px;
    background-repeat: no-repeat;
}

.recommand-color-five{
    background-image: url(../apple-img/compare_ipad_air_swatches__dagugd9h3nsm_large.png);
    width: 85px;
    height: 14px;
    background-size: 85px 14px;
    background-repeat: no-repeat;
}

.recommand-color-four{
    background-image: url(../apple-img/compare_ipad_mini_swatches__fdzgy88hh6ai_large.png);
    width: 68px;
    height: 14px;
    background-size: 68px 14px;
    background-repeat: no-repeat;
}

.chip figure{
    margin: 0 auto;
    margin-bottom: 9px;
}

.m1{
    background-image: url(../apple-img/compare_m1_chip__ev9f5zgvwo02_large.png);
    width: 38px;
    height: 38px;
    background-size: 38px 38px;
    background-repeat: no-repeat;
}

.a13{
    background-image: url(../apple-img/compare_a13_chip__f2yibwat6sya_large.png);
    width: 38px;
    height: 38px;
    background-size: 38px 38px;
    background-repeat: no-repeat;
}

.a15{
    background-image: url(../apple-img/compare_a15_chip__c4a0mtst408y_large.png);
    width: 38px;
    height: 38px;
    background-size: 38px 38px;
    background-repeat: no-repeat;
}

.back-camera p{
    word-break: keep-all;
}

.back-camera figure{
    margin: 0 auto;
    margin-bottom: 9px;
}

.lens-three{
    background-image: url(../apple-img/compare_camera_12mp_wide_10mp_ultrawide__exe6qcqnzr42_large.png);
    width: 38px;
    height: 38px;
    background-size: 38px 38px;
    background-repeat: no-repeat;
}

.lens-one{
    background-image: url(../apple-img/compare_camera_12mp_wide__buiapmy4l402_large.png);
    width: 38px;
    height: 38px;
    background-size: 38px 38px;
    background-repeat: no-repeat;
}

.back-camera .lens-only-one{
    background-image: url(../apple-img/compare_camera_8mp_wide__canjmhsldos2_large.png);
    width: 38px;
    height: 38px;
    background-size: 38px 38px;
    background-repeat: no-repeat;
    margin-top: 5px;
    margin-bottom: 4px;
}

.lens-two{
    background-image: url(../apple-img/compare_camera_12mp_wide_flash__ckjatrf9fp5y_large.png);
    width: 38px;
    height: 38px;
    background-size: 38px 38px;
    background-repeat: no-repeat;
}

.front-camera h4{
    font-size: 19px;
    font-size: 19px;
    line-height: 1.21053;
    font-weight: 600;
    letter-spacing: .006em;
    margin-bottom: 6px;
}

.front-camera p{
    /* display: inline-block; */
    word-break: keep-all;
    /* 울트라 이상하게 넘어가는거 어떻게하죵 */
}

.thunder figure{
    margin: 0 auto;
    margin-bottom: 6px;
}

.thunder-usb-c{
    background-image: url(../apple-img/compare_usbc_thunderbolt__fuat6j3gyc2u_large.png);
    width: 41px;
    height: 22px;
    background-size: 41px 22px;
    background-repeat: no-repeat;
}

.usb-c{
    background-image: url(../apple-img/compare_usbc__gnv70qm6mcuq_large.png);
    width: 32px;
    height: 22px;
    background-size: 32px 22px;
    background-repeat: no-repeat;
}

.lightning{
    background-image: url(../apple-img/compare_lightning__drp7mpo3oyie_large.png);
    width: 32px;
    height: 22px;
    background-size: 32px 22px;
    background-repeat: no-repeat;
}

.cellular figure{
    margin: 0 auto;
    margin-bottom: 11px;

}

.img-5g{
    background-image: url(../apple-img/compare_cellular_5g__gck9kjr82ci2_large.png);
    width: 48px;
    height: 35px;
    background-size: 48px 35px;
    background-repeat: no-repeat;
}

.img-4g{
    background-image: url(../apple-img/compare_cellular_4g__emz9l1sj4yye_large.png);
    width: 48px;
    height: 35px;
    background-size: 48px 35px;
    background-repeat: no-repeat;
}

.apple-pencil figure{
    margin: 0 auto;
    margin-bottom: 10px;
    
}

.pencil-black{
    background-image: url(../apple-img/compare_pencil__2ii95qsgy0y6_large.png);
    width: 62px;
    height: 6px;
    background-size: 62px 6px;
    background-repeat: no-repeat;
}

.magic{
    border-bottom: 1px solid #d2d2d7;
    padding-bottom: 45px;
}

.magic figure{
    margin: 0 auto;
    margin-bottom: 10px;
}

.magic-key{
    background-image: url(../apple-img/compare_magic_keyboard__cr367s50ehkm_large.png);
    width: 68px;
    height: 49px;
    background-size: 68px 49px;
    background-repeat: no-repeat;
}

.smart-key{
    background-image: url(../apple-img/compare_smart_keyboard__gh56kiymgfam_large.png);
    width: 68px;
    height: 49px;
    background-size: 68px 49px;
    background-repeat: no-repeat;
}

.bluetooth-key{
    background-image: url(../apple-img/compare_bluetooth_keyboard__fsfc35t22vqu_large.png);
    width: 68px;
    height: 49px;
    background-size: 68px 49px;
    background-repeat: no-repeat;
}


.img-wrapper{
    min-height: 214px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    margin-bottom: 13px;
}

.grid-text-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: auto;
    /* items 와 contants의 차이 */
    padding-bottom: 32px;
    border-bottom: 1px solid #d2d2d7;
    margin-bottom: 7px;
}

.grid-text-wrapper figure{
    margin: 9px 0 31px 0;
}

.grid-text-wrapper .buy{
    width: 68px;
    height: 24px;
    font-size: 12px;
    line-height: 1.33337;
    font-weight: 400;
    letter-spacing: -0.03em;
    min-width: 23px;
}

.grid-text-wrapper .price{
    margin-top: 6px;
}

.grid-text-wrapper span{
    margin-top: 10px;
    font-size: 14px;
}

.inch{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    letter-spacing: -0.03em;
    line-height: 1.3;
}

.inch h4{
    font-size: 19px;
    margin-bottom: 6px;
    line-height: 1.21053;
    font-weight: 600;
    letter-spacing: .006em;
}

.compare-link{
    max-width: 980px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.compare-link a{
    margin: 0 30px;
    color: #06c;
    font-size: 21px;
    font-weight: 500;
}

@media screen and (max-width: 1068px){
    #ipad-grid{
        margin: 20px auto;
        width: auto;
        max-width: 776px;
    }
    .tip{
        padding: 0 20px;
        padding-top: 108px;
        padding-bottom: 92px;
    }
    .tip h2{
        max-width: 550px;
    }
    .grid-wrapper{
        margin-top: 65px;
        margin-bottom: 42px;
        max-width: 500px;
        grid-column-gap: 78px;
        grid-row-gap: 44px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(18, auto);
        grid-template-areas: 
        "recommand-pro recommand-air"
        "inch-pro inch-air"
        "chip-pro chip-air"
        "back-pro back-air"
        "front-pro front-air"
        "thun-pro thun-air"
        "cell-pro cell-air"
        "pen-pro pen-air"
        "magic-pro magic-air"
        "recommand-pad recommand-mini"
        "inch-pad inch-mini"
        "chip-pad chip-mini"
        "back-pad back-mini"
        "front-pad front-mini"
        "thun-pad thun-mini"
        "cell-pad cell-mini"
        "pen-pad pen-mini"
        "magic-pad magic-mini";
    }
}